@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
  cursor: none;
}

// a {
//   cursor: none;
// }

body {
  background-color: #09090b;
  color: #fff;
}

@keyframes scroll {
  0%,
  100% {
    transform: translateY(-40%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(40%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.animate-scroll {
  animation: scroll 2s infinite;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.25;
  }
}
.animate-fade-in {
  animation: fade-in ease-in 2s;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}
.animate-blink {
  animation: blink 1.2s steps(2, start) infinite;
}
